<div class="container mt-5">
  <div class="row"
       *ngIf="loggedIn()">
    <div class="col">
      <h2>Home</h2>
      <div class="col-text text-right">
      </div>
    </div>
  </div>
  <div *ngIf="!registerMode"
       style="text-align: center">
    <div *ngIf="!loggedIn()"
         class="jumbotron mt-3 mb-3">
      <h1 class="display-4">Welcome to the SpotiApp</h1>
      <p class="lead">You can search by artist and save the songs into SpotiApp database. Navigate to the artist page by
        clicking the card and discover the artists top tracks!</p>
      <hr class="my-4">
      <p> SpotiApp was developed for training purpose By Dante Arrighi</p>
      <hr class="my4">
      <h1>SpotiApp</h1>
      <p class="lead">Let's find some good songs... All you need to do is sign up!</p>
      <div class="text-center">
        <button class="btn btn-primary btn-lg mr-2"
                (click)="registerToggle()">Register</button>
      </div>
      <small>If you already have your account, come on! Login!</small>
    </div>

    <div *ngIf="!loggedIn()"
         class="mt-5">
      <div id="carouselExampleCaptions"
           class="carousel slide"
           data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions"
              data-slide-to="0"
              class="active"></li>
          <li data-target="#carouselExampleCaptions"
              data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions"
              data-slide-to="2"></li>

        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/img/spotify.png"
                 class="mx-lg-auto d-block w-75 h-100"
                 alt="spotify-img">
            <div class="carousel-caption d-none d-md-block">
              <h5>Spotify Web API</h5>
              <p>SpotiApp gets data from Spotify Web API</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/netcore.png"
                 class="mx-lg-auto d-block w-75 h-100"
                 alt="netcore-img">
            <div class="carousel-caption d-none d-md-block">
              <h5>SpotiApp Backend API</h5>
              <p>Developed with Microsoft Dotnet Core</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/angular.png"
                 class="mx-lg-auto d-block w-75 h-100"
                 alt="angular-img">
            <div class="carousel-caption d-none d-md-block">
              <h5>SpotiApp Frontend</h5>
              <p>Developed with Angular Framework - CLI 10.0.0</p>
            </div>
          </div>

        </div>
        <a class="carousel-control-prev"
           href="#carouselExampleCaptions"
           role="button"
           data-slide="prev">
          <span class="carousel-control-prev-icon"
                aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next"
           href="#carouselExampleCaptions"
           role="button"
           data-slide="next">
          <span class="carousel-control-next-icon"
                aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </div>

  <div *ngIf="loggedIn()">
    <app-search></app-search>
  </div>

  <div *ngIf="registerMode"
       class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
