<div class="container">
  <div class="row">
    <div class="col-2">
      <img [src]="artist.images | noimage"
           class="img - thumbnail img-circle">
    </div>
    <div class="col">
      <h3>
        {{ artist.name }}
        <button type="button"
                (click)="artist.external_urls.spotify"
                target="_blank"
                class="btn btn-outline-success">
          Go to artist spotify page
          <i class="fa fa-spotify"
             aria-hidden="true"></i>
        </button>
      </h3>
      <div *ngIf="songsSaved"
           class="alert alert-success animated fadeIn">
        <p> The songs has been successfully saved. </p>
      </div>
    </div>
    <div class="col-4">
      <div class="col-text text-right">
        <button routerLink="/search"
                class="btn btn-outline-danger">
          <<< Go back
        </button>
      </div>
    </div>
  </div>
  <div class="row m-5">
    <h4>{{artist.name}} top tracks </h4>
    <button [disabled]="songsSaved"
            (click)="saveSongs()"
            class="btn btn-outline-danger ml-2">
      Save songs
    </button>
  </div>
  <div class="row m-5">
    <div class="col">
      <table class="table"
             style="color:white">
        <thead>
          <tr>
            <th>Photo</th>
            <th>Album</th>
            <th>Track</th>
            <th>Preview</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let track of topTracks">
            <td>
              <img [src]="track.album.images | noimage"
                   class="img-thumb">
            </td>
            <td> {{ track.album.name }}</td>
            <td> {{ track.name }}</td>
            <td>
              <iframe [src]="track.uri | domseguro"
                      width="300"
                      height="80"
                      frameborder="0"
                      allowtransparency="true"
                      allow="encrypted-media"></iframe>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
