<div class="container">
  <div class="row">
    <div class="col">
      <h2>My songs</h2>
      <div class="col-text text-right">
        <button routerLink="/search"
                class="btn btn-outline-danger">
          Back to search
        </button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="h3">Search songs by song name</label>
    <input type="text"
           class="form-control"
           #searchTherm
           (keyup)="searchSongs(searchTherm.value)"
           aria-describedby="helpId"
           placeholder="Example: The doors">
    <small id="helpId"
           class="form-text text-muted">This search will find elements within the SpotiApp DB</small>
    <hr>
  </div>
  <div class="row">
    <div class="col-text mr-3">
      <h4>Your selected song data is</h4>
    </div>
    <div class="col-text">
      <p>
        {{songSelected.id}} - {{songSelected.name}} - {{songSelected.spotifyID}}
      </p>
    </div>
  </div>
  <hr class="my4">

  <app-loading *ngIf="loading"
               class="m-5"></app-loading>

  <div class="row m-5">
    <div class="col">
      <div style="background-color: #343a40">
        <pagination-controls (pageChange)="getMoreSongs($event)"></pagination-controls>
      </div>
      <table class="table"
             style="color:white">
        <thead>
          <tr>
            <th style="width: 10%">Song ID</th>
            <th style="width: 10%">Spotify ID</th>
            <th style="width: 66%">Name</th>
            <th style="width: 24">Preview</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let song of mysongs | paginate: { itemsPerPage: 10, currentPage: pageNumber, totalItems:Count }"
              (click)="getSong(song.spotifyID)"
              style="cursor:pointer">
            <td>
              {{song.id}}
            </td>
            <td>
              {{song.spotifyID}}
            </td>
            <td> {{ song.name }}</td>
            <td>
              <iframe [src]="song.uri | domseguro"
                      width="300"
                      height="80"
                      frameborder="0"
                      allowtransparency="true"
                      allow="encrypted-media">
              </iframe>
            </td>

          </tr>
        </tbody>
      </table>
      <div *ngIf="error"
           class="alert alert-danger animated fadeIn mt-3">
        <h3>Something went wrong</h3>
        <p *ngIf="!noSongsMessage">
          {{ errorMessage }}
        </p>
        <hr class="my4">
        <p *ngIf="!errorMessage">
          {{noSongsMessage}}
        </p>
      </div>
    </div>
  </div>
</div>