<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand"
     href="#">SpotiApp</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item"
        routerLinkActive="router-link-active">
      <a class="nav-link"
         [routerLink]="['/home']">Home </a>

    </li>
    <li *ngIf="loggedIn()"
        class="nav-item"
        routerLinkActive="router-link-active">
      <a class=" nav-link"
         [routerLink]="['/mysongs']">My songs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         href="#"
         (click)="logout()">Logout</a>
    </li>
  </ul>

  <div *ngIf="loggedIn()"
       class="dropdown">
    <a class="dropdown-toggle text-light">
      Welcome user!
    </a>

    <div class="dropdown-menu">
      <!-- FIXME: Dropdown is not working -->
      <a class="dropdown-item"
         (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
    </div>
  </div>


  <form *ngIf="!loggedIn()"
        #loginForm="ngForm"
        class="form-inline my-2 my-lg-0"
        (ngSubmit)="login()">
    <input class="form-control mr-sm-2"
           name="username"
           type="text"
           placeholder="Username"
           required
           [(ngModel)]="model.username">
    <input class="form-control mr-sm-2"
           name="password"
           type="password"
           placeholder="Password"
           required
           [(ngModel)]="model.password">
    <button [disabled]="!loginForm.valid"
            class="btn btn-success my-2 my-sm-0"
            type="submit">Login</button>
  </form>

</nav>