<div class="card-columns m-5 animated fadeIn">
    <div (click)="goToArtist( item )"
         *ngFor="let item of items"
         class="col-sm card puntero">
        <div class="card-deck ">
            <img [src]="item.images | noimage"
                 class=" card-img-top "
                 alt="... ">
            <div class="card-body ">
                <h5 class="card-title ">
                    {{ item.name }}
                </h5>
                <p class="card-text ">
                    <span *ngFor="let artist of item.artists"
                          class="badge badge-primary">
                        {{ artist.name }}
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>