<div *ngIf="error"
     class="alert alert-danger animated fadeIn mt-3">
       <h3>Something went wrong</h3>
       <p> {{ errorMessage }} </p>
</div>
<div class="form-group">
       <label class="h3">Search songs by artists</label>
       <input type="text"
              class="form-control"
              #searchTherm
              (keyup)="searchArtist(searchTherm.value)"
              aria-describedby="helpId"
              placeholder="Example: The doors">
       <small id="helpId"
              class="form-text text-muted">Looking for songs? Start searching by artist name!</small>
       <hr>
</div>
<app-loading *ngIf="loading"
             class="m-5"></app-loading>
<app-cards *ngIf="!loading"
           [items]="artists"></app-cards>